<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amazinghelpdesk" >

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/main_action_title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AmazingHelpdesk" >
        <activity android:theme="@style/Theme.NoActionBar" android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" android:exported="true"/>
        <activity android:name=".OnlineStaffActivity" android:exported="true"/>
        <activity android:name=".OfflineStaffActivity" android:exported="true" />
        <activity android:name=".ReservationFormActivity" android:exported="true" />
        <activity android:name=".ReservationViewActivity" android:exported="true" />
        <activity android:name=".SettingActivity" android:exported="true"/>
        <activity android:name=".FaqActivity" android:exported="true" />
    </application>

</manifest>